.text-right=f.submit 'Сохранить', class: 'btn btn-primary'

=render partial: 'fragments/html/errors', locals: {obj: @song}
.form-group
  =f.label :link, Song::EDITABLE_FIELDS[:link]
  =f.text_field :link, class: 'form-control', placeholder: 'Оставьте пустым для генерации из названия'
.form-group
  =f.label :title, Song::EDITABLE_FIELDS[:title]
  =f.text_field :title, class: 'form-control'
.form-group
  =render partial: 'fragments/haml/images_block', locals: {object: @song,form:f}
.form-group
  =f.label :description, Song::EDITABLE_FIELDS[:description]
  =f.text_area :description,id:'froalaEditor',size: '50x20', class: 'form-control'


