%main.page
  .container-fluid
    .panel.bg-light

      %h1.heading
        Создание рецензии к произведению
        =link_to(@serial.title,serial_path(@serial.transliterated_link))
      =form_for @review, url: review_index_path, html: {multipart: true} do |f|
        =render 'form', f:f