%main.page
  .container-fluid
    .panel.bg-light

      %h1.heading Создание персонажа
      =form_for @character, url: character_index_path, html: {multipart: true} do |f|
        =render 'form', f:f