#promo-contest.modal.fade{'aria-hidden': "true"}
  .modal-dialog.modal-xl
    .modal-content
      .modal-header
        %h2.heading.heading-2
          КОНКУРС НА ЛУЧШЕГО ЗРИТЕЛЯ АНИМЕ!
        %button.close{'data-dismiss': "modal", 'aria-label': "Close"}
          %span{'aria-hidden': "true"}="×"
      .modal-body{style:'text-align:center;'}
        %p
          %a{href:'https://vk.com/animekult?w=wall-7874818_45821'}
            ПОДРОБНОСТИ В НАШЕЙ ГРУППЕ В ВК
            %br
            %img{:src=>'https://animecult.org/uploads/attachment/cover/79098/v2.jpg', :style=>'width:600px'}