-content_for :title do
  Авторизация на портале animecult
%main.page
  .container-fluid
    .panel.bg-light

      .row.justify-content-center
        .col-12.col-sm-8.col-md-6.col-lg-4
          %legend Внешняя авторизация
          -if devise_mapping.omniauthable?
            -resource_class.omniauth_providers.each do |provider|
              %a.btn.btn-block.btn-social{href:omniauth_authorize_path(resource_name, provider),class:"btn-#{providers[provider.to_sym][:key]}"}
                %span.fa{class:"fa-#{providers[provider.to_sym][:key]}"}
                =providers[provider.to_sym][:title]
            %br
          %legend Вход по никнейму и паролю

          =form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

            .form-group
              =f.label :email, 'Никнейм (либо email)'
              =f.text_field :email, autofocus:true, class: "form-control"

            .form-group
              =f.label :password, 'Пароль'
              =f.password_field :password, class: "form-control"

            .form-group
              =f.submit 'Войти', class: "btn btn-success btn-wide"

          %br
          %legend Регистрация на портале
          .form-group
            %a.btn.btn-success.btn-wide{href:new_user_registration_path} Зарегистрироваться
