-content_for :title do
  Для правообладателей
-content_for :description do
  Для правообладателей
%main.page
  .container-fluid
    .panel.bg-light
      %h1 Для правообладателей
      %h3 О сервисе
      %p Сайт Аниме Культ (Animecult) - это пользовательская база данных аниме, где пользователи указывают описание, создателей аниме, персонажей из аниме, а так же делятся ссылками где его смотрят, кроме этого обсуждают с пользователями, пишут обзоры и рецензии.
      %h3 Защита авторских прав
      %p Мы соблюдаем Закон о защите авторских прав в цифровую эпоху (DMCA) и другие действующие законы об авторских правах, в том числе текущее законодательство Российской Федерации и быстро удаляем неправомерно размещенные материалы, получив соответствующее уведомление о нарушении прав.
      %h3 Уведомление о нарушении авторских прав
      %p
        Если вы считаете, что какое-либо медиа на сайте Animecult нарушает ваши авторские права, вы можете написать уведомление о нарушении прав и отправить его на адрес нашего агента
        %a{href:'mailto:animecult@yandex.ru'} animecult@yandex.ru
        и сервис Animecult незамедлительно осуществит блокировку на перечисленные в уведомлении материалы.
      %p Часть 512(c) Акта об авторских правах (Digital Millennium Copyright Act) предъявляет определенные требования к форме этого уведомления. В соответствии с этим, оно должно быть предоставлено в письменном виде и обязательно содержать следующую информацию:
      %ol
        %li Материальную или электронную подпись лица, имеющего право представлять интересы человека, чьи авторские права на материал были нарушены.
        %li Указание на работы (материалы), в отношении которых нарушены права. В случае, когда уведомление сообщает о нарушениях авторского права на несколько таких материалов (текстов, изображений, ссылок), в нем должны быть приведены указания на каждый из них.
        %li Указание на материал, нарушающий авторские права или являющийся субъектом поведения, нарушающего авторские права, каковой материал должен быть удален с серверов Animecult или заблокирован для доступа. Вы также должны предоставить исходный адрес (URL) этого материала.
        %li Информация о том, как связаться с вами, например адрес электронной почты, почтовый адрес или номер телефона.
        %li Утверждение, что вы действительно считаете, что использование данного материала в таком виде не разрешено ни владельцем авторских прав, ни его агентом, ни законодательством Российской Федерации.
        %li Заявление, сделанное ввиду возможных штрафных санкций за предоставление ложных сведений, что представленные вами факты не содержат ошибок и искажений, и вы имеете право действовать от лица владельца авторских прав.
      %h3 Удаление или блокирование доступа к материалу
      %p После получения указанного выше уведомления о нарушении в течение 1 (одного) рабочего дня (согласно законодательству Российской Федерации) сервис Animecult, либо предпринимает меры по ограничению доступа к спорным материалам, либо, если информации в требовании недостаточно или существуют сомнения в полномочиях заявителя, связывается с лицом, направившим уведомление, для получения дополнительной информации.
      %p При определении нарушения авторских прав пользователями сервиса Animecult, мы прекращаем предоставление сервиса владельцам этих аккаунтов, в особенности, если они были замечены в многократных нарушениях авторских прав.
      %h3 Встречное уведомление
      %p
        Если после блокировки материала на сайте Animecult на основании уведомления о нарушении прав, пользователь имеет претензии относительно такой блокировки и не согласен с ней и при этом считает себя владельцем прав на загруженную им информацию (описания, отзыв, картинки или ссылки), но заблокированную, такой пользователь имеет право прислать Встречное уведомление на адрес
        %a{href:'mailto:animecult@yandex.ru'} animecult@yandex.ru
        , после чего доступ к заблокированному материалу может быть открыт.
      %p Часть 512(g) Акта об авторских правах требует, чтобы ваше встречное уведомление было предоставлено в письменном виде и обязательно включало в себя следующие элементы:
      %ol
        %li Вашу материальную или электронную подпись.
        %li Указание на материал, который был удален или заблокирован для доступа, и исходный адрес (URL), по которому этот материал был опубликован до того, как в его отношении были предприняты меры.
        %li Заявление, что понимая ответственность за мошенничество, установленную законодательством Соединённых Штатов, вы добросовестно утверждаете, что материал был удален или заблокирован в результате ошибки или его неправильной идентификации.
        %li Ваше имя, адрес и номер телефона.
        %li Учтите, что часть 512(f@) Акта об авторских правах указывает, что лицо, которое намеренно высылает ложную информацию о том, что материал был удален или заблокирован по ошибке или из-за неправильной идентификации, может быть привлечено к ответственности.
